.itemsListContainer {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 90vw;
  margin: 1rem 0rem;
  .suggestionButton {
    background-color: lightblue;
  }
  h2 {
    font-size: 1.5rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.2rem;
    margin: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
}
