// This is where your styles can go, import any other scss or css files here or write your own style directly below

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './_weather.scss';
@import './_items.scss';

root {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 1rem;
}

button {
  margin: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}
